@model ServicesDeskUCABWS.Models.Tipo_Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tipo_Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipo" class="control-label"></label>
                <select asp-for="tipo" class="form-control"></select>
                <span asp-validation-for="tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_creacion" class="control-label"></label>
                <input asp-for="fecha_creacion" class="form-control" />
                <span asp-validation-for="fecha_creacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_ult_edic" class="control-label"></label>
                <input asp-for="fecha_ult_edic" class="form-control" />
                <span asp-validation-for="fecha_ult_edic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_elim" class="control-label"></label>
                <input asp-for="fecha_elim" class="form-control" />
                <span asp-validation-for="fecha_elim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minimo_Aprobado" class="control-label"></label>
                <input asp-for="Minimo_Aprobado" class="form-control" />
                <span asp-validation-for="Minimo_Aprobado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
