@page
@model ServicesDeskUCAB.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "/Pages/Shared/_LayoutLogin.cshtml";
}
<section class="h-100 login-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">


                  <h4 class="mt-1 mb-5 pb-1">ServicesDeskUCAB</h4>
                </div>

                <form method="post">
                    <div  class="text-danger" asp-validation-summary="ModelOnly"></div>
                  <p>Bienvenido</p>

                  <div class="form-outline mb-3">
                    <input asp-for="Credential.Username" type="email" id="form2Example11" class="form-control"
                      placeholder="Username" />
                    <span class="text-danger" asp-validation-for="Credential.Username"></span>
                  </div>

                  <div class="form-outline mb-3">
                    <input asp-for="Credential.Password" type="password" id="form2Example22" class="form-control" placeholder="Password" />
                    <span class="text-danger" asp-validation-for="Credential.Password"></span>
                  </div>

                  <div class="d-flex align-items-center justify-content-between mb-3 ">
                    <input class="btn btn-primary" type="submit" value="Iniciar sesión" ></input>
                    <a class="text-muted" href="#!">¿Olvidaste tu contraseña?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-between  pb-4">
                    <p class="mb-0 me-2">¿No tienes cuenta?</p>
                    <button type="button" class="btn btn-outline-primary">Crea una nueva</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos más que una compañía</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>