<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Sidebar.css" />

</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="close" id="close-btn">
                    <span class="material-symbols-sharp">close</span>
                </div>
                <div class="foto-usuario">
                    <center><img src=https://drive.google.com/file/d/1aIW7yPeopCkgag6P3IO4zzAKDC-xepnn/view?usp =sharing /></center>
                    <h2>Nombre</h2>
                    <h3>Administrador</h3>
                </div>


            </div>

            <div class="sidebar">
                <a href="" class="active">
                    <span class="material-symbols-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="">
                    <span class="material-symbols-sharp">corporate_fare</span>
                    <h3>Departamento y Grupo</h3>
                </a>
                <a href="">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Cerrar Sesión</h3>
                </a>



            </div>

        </aside>

    </div>
</body>
@RenderBody()
@RenderSection("Scripts", required: false)
</html>
