@model Guid
@{
    ViewData["Title"] = "Gestion Departamento";
}

<head>
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
</head>


<!-- Ventana Emergente -->
<div class="modal fade" id="popUpEliminar" tabindex="-1" role="dialog" aria-labelledby="popUpEliminarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Departamento</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea eliminar el departamento seleccionado?
            </div>
            <div class="modal-footer">
                <button type="button" class="botonCancelar" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="botonCrear" onclick="location.href='@Url.Action("EliminarDepartamento", "Departamento",new { id = Model })'">Aceptar</button>
            </div>

        </div>
    </div>
</div>

