<div>
    <h1>Reenviar ticket</h1>
    <hr />
</div>

<div class="container" style="margin-top:40px">
    <form method="post" asp-action="GuardarCambios" asp-controller="Ticket">
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Departamento:</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione un tipo de ticket</option>
                <option value="1">Departamento 1</option>
                <option value="2">Departamento 2</option>
                <option value="3">Departamento 3</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Tipo ticket:</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione un tipo de ticket</option>
                <option value="1">Tipo ticket 1</option>
                <option value="2">Tipo ticket 2</option>
                <option value="3">Tipo ticket 3</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Prioridad:</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione una prioridad</option>
                <option value="1">Prioridad 1</option>
                <option value="2">Prioridad 2</option>
                <option value="3">Prioridad 3</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Asunto:</label>
            <input type="text" class="form-control" id="recipient-name">
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Descripción:</label>
            <textarea class="form-control" id="message-text"></textarea>
        </div>
        <div class="text-center" style="margin-top:30px">
            <a  class="btn btn-danger" asp-area="" asp-controller="Ticket" asp-action="Index">Cancelar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>
    
