<h5 >Nueva prioridad</h5>
<form>
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">Nombre:</label>
        <input type="text" class="form-control" id="recipient-name">
    </div>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">Descripción:</label>
        <textarea class="form-control" id="message-text"></textarea>
    </div>
        <button type="submit" class="btn btn-primary">Enviar</button>\
</form>