@page
@model ConsultarModel

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body>
    <div class="card">
        <div class="card-header">
            <h5>Administrar Tipo Ticket</h5>
            <input type="search" class="input form-control-sm rounded-pill" placeholder="Buscar...">
            <!-- Button trigger modal -->
            <a class="btn btn-success btn-sm rounded-pill " data-bs-toggle="modal" asp-action="" data-bs-target="#exampleModal" asp-controller="Home"> + Crear Nuevo</a>
        </div>

        <div class="card-body">
            <hr />
            <table class="table table-striped border-pill">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Tipo Modelo Aprobacion</th>
                        <th>Departamentos</th>
                        <th>Cargos</th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="btn btn-primary btn-sm " asp-action="" asp-controller="Home" asp-route-idEmpleado=""> Editar</a>
                            <a class="btn btn-danger btn-sm " asp-action="" asp-controller="Home" asp-route-idEmpleado=""> Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro Tipo Ticket</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="" asp-controller="Home" method="post">
                        <h6>Registro Tipo Ticket:</h6>
                        <div class="mb-2">
                            <label class="form-label">Nombre</label>
                            <input class="form-control form-control-sm" type="text" />
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Descripcion</label>
                            <input class="form-control form-control-sm" type="text" />
                        </div>

                        <div class="container p-2 my-2 border">
                            <div class="mb-2">
                                <h6>Registro Modelo Aprobacion:</h6>
                                <label class="form-label">Tipo Modelo Aprobacion</label>
                                <select class="form-select form-select-sm">
                                    <option selected disabled>-- Seleccionar --</option>
                                    <option value="Paralelo">Paralelo</option>
                                    <option value="Jerarquico">Jerarquico</option>
                                    <option value="Default">Default</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Cargo</label>
                                <br>
                                <select multiple="multiple" style="width=100%;" id="lista">
                                    <option selected disabled>-- Seleccionar --</option>
                                </select>
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Departamento</label>
                                <br>
                                <select multiple="multiple" style="width=100%;" id="lista">
                                    <option selected disabled>-- Seleccionar --</option>

                                </select>
                            </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>
