@page
@model ServicesDeskUCAB.Pages.Shared.RegistrarUsuarioModel
@{
    ViewData["Title"] = "SingUp";
    Layout = "/Pages/Shared/_LayoutLogin.cshtml";
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">

                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrarte</p>

                                <form method="post" class="row g-6">
                                    <div class="col-md-3">
                                        <label for="inputEmail4" class="form-label">Nombres</label>
                                <input asp-for="Usuario.primer_nombre" style="border-radius: 10px" type="text" class="form-control" id="" placeholder="Primer nombre">
                                <span class="text-danger" asp-validation-for="Usuario.primer_nombre"></span>
                                    </div>
                                    <div style="padding-top: 8px" class="col-md-3">
                                        <label for="inputPassword4" class="form-label"></label>
                                <input asp-for="Usuario.segundo_nombre" style="border-radius: 10px" type="text" class="form-control" id="" placeholder="Segundo nombre">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="inputPassword4" class="form-label">Apellidos</label>
                                <input asp-for="Usuario.primer_apellido" style="border-radius: 10px" type="text" class="form-control" id="" placeholder="Primer apellido">
                                <span class="text-danger" asp-validation-for="Usuario.primer_apellido"></span>
                                    </div>
                                    <div style="padding-top: 8px" class="col-md-3">
                                        <label for="inputPassword4" class="form-label"></label>
                                <input asp-for="Usuario.segundo_apellido" style="border-radius: 10px" type="text" class="form-control" id="" placeholder="Segundo apellido">
                                    </div>
                                    <div class="col-6">
                                            <label for="inputAddress" class="form-label">Genero</label>
                                            <select asp-for="Usuario.gender" style="border-radius: 10px"  class="form-control" aria-label=".form-select-lg example">
                                                <option selected>Genero</option>
                                                <option value="M">M</option>
                                                <option value="F">F</option>
                                            </select>
                                <span class="text-danger" asp-validation-for="Usuario.gender"></span>
                                    </div>
                                    <div class="col-6">
                                        <label for="inputAddress" class="form-label">Fecha de nacimiento</label>
                                <input asp-for="Usuario.fecha_nacimiento" style="border-radius: 10px" class="form-control" id="birthday">
                                <span class="text-danger" asp-validation-for="Usuario.fecha_nacimiento"></span>
                                    </div>
                                    <div class="col-6">
                                        <label for="inputAddress2" class="form-label">Contraseña</label>
                                <input asp-for="Usuario.password" style="border-radius: 10px" type="text" class="form-control" id="" placeholder="Contraseña">
                                <span class="text-danger" asp-validation-for="Usuario.password"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputCity" class="form-label">Cedula (ID)</label>
                                <input asp-for="Usuario.cedula" style="border-radius: 10px" type="text" class="form-control" id="" placeholder="Cedula">
                                <span class="text-danger" asp-validation-for="Usuario.cedula"></span>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="inputCity" class="form-label">Correo Electronico</label>
                                <input asp-for="Usuario.correo" style="border-radius: 10px" type="email" class="form-control" id="" placeholder="Correo electronico">
                                <span class="text-danger" asp-validation-for="Usuario.correo"></span>
                                    </div>
                                    <div style="padding-top: 12px" class="col-md-12">
                                        <button type="submit" style="background-color: #0E7B82; border-color: #0E7B82; border-radius: 10px" class="btn btn-primary btn-block">Registrarse</button>
                                    
                                    </div>

                                </form>

                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>
