@model ServiceDeskUCAB.Models.Modelos_de_Usuario.UsuariosRol;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-10 text-center mb-5 mb-md-7">
        <h1 class="display-2 font-weight-bolder mb-4">Bienvenido a Service Desk UCAB</h1>
        <p class="lead mb-4 mb-lg-5">Un sistema que busca centralizar los punto de contactos entre los empleados, socios y clientes para promover una comunicación más eficiente</p>
    </div>
</div>
<h1>Datos de la Sesión</h1>
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">

            <div class="card-body p-md-5">
                <div class="row justify-content-center">
                    @using (Html.BeginForm("GuardarUsuario", "Usuario", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <label for="inputPassword4" class="form-label">Nombres</label>
                                <input required type="text" value="@Model.primer_nombre @Model.primer_apellido" class="form-control" style="border-radius: 10px" readonly />
                                <span class="text-danger"></span>
                            </div>
                            <br />
                            
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Cedula (ID)</label>
                                <input required type="text" value="@Model.cedula" class="form-control" style="border-radius: 10px" readonly />
                                <span class="text-danger"></span>
                            </div>
                            <br />
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">Correo Electronico</label>
                                <input required type="text" value="@Model.correo" class="form-control" style="border-radius: 10px" readonly />
                                <span class="text-danger"></span>
                            </div>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

