@model Tipo
@{
    ViewData["Title"] = "Modificar Tipo Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Modificar Tipo Ticket
    </div>
    <div class="card-body">

        <form asp-action="GuardarTipoTicket" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" asp-for="nombre" required/>
            </div>
            <div class="mb-2">
                <label class="form-label">Descripción</label>
                <input type="text" class="form-control form-control-sm" asp-for="descripcion" required/>
            </div>
            <div class="mb-2">
                <label class="form-label">Marca</label>
                <input type="text" class="form-control form-control-sm" asp-for="tipo" required/>
            </div>
            <div class="mb-2">
                <label class="form-label">Departamentos Asociados:</label>
                <br>
                <select multiple="multiple" style="width=100%;" id="lista" asp-for="Departamento" required>
                    
                    @foreach (var item in ViewData["Departamentos"] as List<Departament>)
                    {
                            <option value=@item.Id.ToString()>@item.nombre</option>
                    }
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">Minomo Aprobado</label>
                <input type="number" class="form-control form-control-sm" asp-for="Minimo_Aprobado" required/>
            </div>

            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <a asp-action="VistaTipoTicket" asp-controller="Home" class="btn btn-warning btn-sm">Volver a lista</a>
        </form>




    </div>

</div>


