@model ServiceDeskUCAB.Models.Modelos_de_Usuario.RecuperarPasswordModel
@{
    ViewData["Title"] = "Recovery Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("RecuperarContraseña", "Login", FormMethod.Post))
        {

            <div class="row">
                <div class="col-md-12">
                    <label for="inputPassword4" class="form-label">Nombres</label>
                    @Html.TextBoxFor(m => m.Email,new { Style="border-radius: 10px", Class="form-control",placeholder="Primer nombre",type="Text"})
                    <span class="text-danger"></span>
                </div>
            </div>
 
            <button class="btn btn-primary" type="submit">Enviar</button>

         }

    </div>

</div>