@model ServiceDeskUCAB.Models.Modelos_de_Usuario.RecuperarPasswordModel
@{
    ViewData["Title"] = "Recovery Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    
}

<div class="row">
    <div class="col-md-12">
         @using (Html.BeginForm("RecuperarPassword","Login",FormMethod.Post)){        

             <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Email"></label>
                <input name="correo" type="email"  class="form-control"
                        placeholder="Correo" />
                <span asp-validation-for="Email" class="text-danger"></span>
 
                <button class="btn btn-primary" type="submit">Enviar</button>
 

         }

    </div>

</div>