
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ServicesDeskUCAB</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
    <link rel="stylesheet" href="~/Tablas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <!-- Iconos -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon ">
                    <i class="fab fa-servicestack"></i>
                    @*<i class="fas fa-laugh-wink"></i>*@
                </div>
                <div class="sidebar-brand-text mx-2">ServiceDesk<sup>UCAB</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="DepartamentoYGrupo" asp-action="DepartamentoGrupo">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Departamentos</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlantilla"
                   aria-expanded="true" aria-controls="collapsePlantilla">
                    <i class="fas fa-fw fa-edit"></i>
                    <span>Plantillas de notificación</span>
                </a>
                <div id="collapsePlantilla" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestion de plantillas:</h6>
                        <a class="collapse-item" asp-area="" asp-controller="PlantillaNotificacion" asp-action="PlantillasNotificacion">Todas las plantillas</a>
                        <a class="collapse-item" asp-area="" asp-controller="PlantillaNotificacion" asp-action="PlantillaNueva">Crear plantilla</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEstado"
                   aria-expanded="true" aria-controls="collapseEstado">
                    <i class="fas fa-fw fa-bell"></i>
                    <span>Estados de ticket</span>
                </a>
                <div id="collapseEstado" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Gestion de estados:</h6>
                        <a class="collapse-item" asp-area="" asp-controller="EstadoTicket" asp-action="EstadosTicket">Todas los estados</a>
                        <a class="collapse-item" asp-area="" asp-controller="EstadoTicket" asp-action="EstadoNuevo">Crear estado</a>
                    </div>
                </div>
            </li>

            @*<li class="nav-item">

            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="VistaTipoTicket">

            <i class="fas fa-fw fa-chart-area"></i>
            <span>Gestion Tipo Ticket</span>
            </a>
            </li>*@

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Usuarios">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Usuario</span>
                </a>
            </li>

                <li class="nav-item">
                    
                <a class="nav-link" asp-area="" asp-controller="TipoTicket" asp-action="VistaTipo">
                        <i class="fas fa-fw fa-chart-area"></i>
                            <span>Gestionar Tipo Ticket</span>
                        </a>
                </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Votos" asp-action="VistaTicket">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Gestionar Votos</span>
                </a>
            </li>

            
            @*<!-- Divider -->
            <hr class="sidebar-divider">*@

            @*    <!-- Heading -->
            <div class="sidebar-heading">
            Interface
            </div>*@

                <!-- Nav Item - Pages Collapse Menu -->
            @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <a class="nav-link collapsed" data-toggle="collapse"  asp-area="" asp-controller="Home" asp-action="VistaTicket">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
            </div>
            </div>
            </li>*@

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div class="container" style="margin-top:30px">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - Tablas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


