@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ha ocurrido mientras se estaba procesando su petición</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Motivo:</strong> <code>@Model.RequestId</code>
    </p>
}



