<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reporte1.Properties.Settings.GestionBDConnectionString"
            connectionString="Data Source=DESKTOP-LAAOSSM;Initial Catalog=GestionBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Reporte1.Properties.Settings.UCABServicesDesk8ConnectionString"
            connectionString="Data Source=DESKTOP-LAAOSSM;Initial Catalog=UCABServicesDesk8;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>